/* Estilos generales */ 
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/*este es el encabesado */
header {
    background-color: #ec6f1b;
    color: white;
    text-align: center;
    padding: 20px;
}


/* AQUI COMIENSA LOS ESTILOS DEL MENU */
.navbar {
    overflow: hidden;
    background-color: #ffffff;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: rgb(112, 219, 62);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(15, 15, 15);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(81, 255, 0);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(255, 255, 255);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #e4c7c7;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  

/*este es lo que esta dentro del menu */
nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #83b164;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}
/*---------- AQUI TERMINA EL MENU -----------*/


/* Estilos de secciones */
section {
    padding: 40px;
}

section h2 {
    font-size: 24px;
    margin-top: 0;
}
 

/*-------- ACA COMIENSA EL ESTILO DEL CARRITO --------- */
.agregar-al-carrito {
    background-color: #4caf50; /* Color de fondo verde */
    color: white; /* Color del texto blanco */
    border: none; /* Sin borde */
    padding: 15px 15px; /* Relleno interno */
    text-align: center; /* Alineación de texto al centro */
    text-decoration: none; /* Sin decoración de texto */
    display: inline-block; /* Visualización en línea */
    font-size: 12px; /* Tamaño de fuente */
    cursor: pointer; /* Cursor tipo puntero */
    border-radius: 5px; /* Bordes redondeados */
    margin-left: auto; /* Mueve el botón hacia la derecha */
    display: flex; /* Utiliza flexbox para centrar verticalmente */
    align-items: center; /* Centra verticalmente el contenido */
}


.agregar-al-carrito:hover {/* Cambia el color al pasar sobre el botón */
    background-color: rgb(64, 114, 161); 
}

/*-------Estilo para el icono de carrito-------- */
.icono-carrito {
    margin-right: 5px; 
    font-size: 15px; 
}
/*--------aca termina el estilo del carrito ---------*/

/*---------- ACA COMIENSA WHATSAPP---------*/
#whatsapp-link {
    display: inline-block;
    padding: 15px 15px;
    background-color: #25d366; /* Color verde de WhatsApp */
    color: #fff; /* Color del texto blanco */
    text-decoration: none; /* Sin subrayado */
    border-radius: 5px; /* Bordes redondeados */
    margin-top: 10px; /* Espacio superior */
    float: right; /* Alineación a la derecha */
}

#whatsapp-link:hover {
    background-color: #128C7E; /* Cambia el color al pasar el ratón sobre el enlace */
}
/*---------Aca teemina whatsapp-------------*/




/*------- AQUI COMIENSAN LAS COLUPMAS DE LOS PRODUCTOS -------------- */
.producto-contenedor {/*LAS COLUMNAS Y LOS ESPACIOS QUE HAY EN ELLOS */
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 100px; 
}

.producto {/* BORDE DE CADA PRODUCTO, ESPACIO EN CADA UNO, ANCHO Y ALYO DE ELLOS */
    border: 2px solid #ddd; 
    padding: 5px; 
    text-align: center;
    width: 300px;
    height: 350px; 
}

.producto img {/* ALTO Y ANCHO DE LA IMAGEN */
    max-width: 100%;
    height: 90%;
}
/*---------aca termina las columas de los productos ------------ */


/*-------- ESPASIO ENTER EL CONTENIDO Y EL FOOTER --------*/
#conjuntos .producto-contenedor {
    margin-bottom: 50px;
}

/*------------- ESTILOS DEL FOOTER  -------------*/
footer {
    background-color: #888782be;
    color: white;
    text-align: center;
    padding: 20px;
}


/* Estilos para los íconos de redes sociales en la barra inferior 
.redes-sociales {
    text-align: center;
    margin-top: 20px;
}

.redes-sociales a {
    display: inline-block;
    margin: 010px; /* Espaciado horizontal entre los íconos 
    color: #48e434; /* Color de los íconos (puedes cambiarlo) 
    font-size: 24px; /* Tamaño de los íconos (puedes cambiarlo) 
    text-decoration: none;
}

.redes-sociales a:hover {
    color: #dde021; /* Cambia el color al pasar el mouse (puedes cambiarlo) 
}
*/